<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ContainerLogin">
    <div class="Brand">
        <span>oHigh</span>
        <ion-img src='/assets/icon/oHighKing.png' [alt]="'hiking-img'" class="Logo"></ion-img>
        <span>King</span>
    </div>
    <!-- <img src="https://ichef.bbci.co.uk/images/ic/704xn/p072ms6r.jpg" alt="pikapi"/> -->
    <form #login="ngForm" (ngSubmit)="_handleLogin(login)">
      <div>
        <ion-item>
          <ion-label position="floating">Login</ion-label>
          <ion-input class="input-username" name="username" ngModel required></ion-input>
        </ion-item>
      </div>

      <div>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input class="input-password" type="password" name="password" ngModel required></ion-input>
        </ion-item>
      </div>

      <div class="button">
        <ion-button type="sumbit" value="submit" expand="block">Log in</ion-button>
      </div>
      <span *ngIf="error">{{error}}</span>
    </form>
    <!-- <a href="#">Sign up</a> -->
  </div>
</ion-content>