<ion-content>
  <h1>{{hiking.title}}</h1>
    <ion-text>
        "address": {{hiking.address}},<br/>
        "description": {{hiking.description}},<br/>
        "difficultyRating": {{hiking.difficultyRating}},<br/>
        "duration": {{hiking.duration}},<br/>
        "lengthMeters": {{hiking.lengthMeters}},<br/>
        "steps": {{hiking.steps}},<br/>
        "idCreator": {{hiking.idCreator}}
    </ion-text>
    <app-list-step [hiking]="hiking"></app-list-step>
</ion-content>

<app-hiking-status-bar [pageName]="'detail'"></app-hiking-status-bar>
