<ion-footer *ngIf="isHikingInProgress()">
    <ion-toolbar class="ion-align-items-center ion-justify-content-space-around">
      <div>
        <!---->
        <div>
          <ion-button color="danger" (click)='finishHiking()' class="Stop">
              <ion-icon name="square"></ion-icon>
              Stop
          </ion-button>
        </div>
        <div>
          <ion-title class="timer ion-text-center"> {{ hours.toString().length === 1 ? 0 : "" }}{{hours}} : {{ minutes.toString().length === 1 ? 0 : "" }}{{ minutes }} : {{ seconds.toString().length === 1 ? 0 : "" }}{{ seconds }}</ion-title>
        </div>
        <div>
          <ion-button class="see" *ngIf="isHikingInProgress()" [routerLink]="['/hiking', getHikingInProgress().id]" color="primary">
            <ion-icon name="eye"></ion-icon> Voir
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
</ion-footer>
  