<ion-content>
    <ion-card class="Card" *ngFor="let hiking of hikingList" [routerLink]="['/detail', hiking.id]">
        <ion-img [src]="'/assets/icon/' + hiking.picture" [alt]="'hiking-img'"></ion-img>
        
        <ion-card-header>
            <ion-card-subtitle>Hiking</ion-card-subtitle>
            <ion-card-title class="titleHiking">{{hiking.title}}</ion-card-title>
            <ion-card-subtitle>{{hiking.address}}</ion-card-subtitle>
        </ion-card-header>

        <div class="CardInfo">
            <ion-chip>
                <span *ngFor="let i of [1,2,3,4,5]">
                    <ion-icon *ngIf="i <= hiking.difficultyRating" name="star"></ion-icon>
                    <ion-icon *ngIf="i > hiking.difficultyRating" name="star-outline"></ion-icon>
                </span>
            </ion-chip>
            <ion-chip>
                <ion-label> 
                    <ion-icon name="stopwatch"></ion-icon> {{hiking.duration}} min
                </ion-label>
            </ion-chip>
            <ion-chip>
                <ion-label>
                    <ion-icon name="walk"></ion-icon> {{hiking.lengthMeters}} m
                </ion-label>
            </ion-chip>
        </div>

        <ion-card-content>
            {{(hiking.description.length > 100) ? (hiking.description | slice:0:100) + '...' : hiking.description }}
        </ion-card-content>
    </ion-card>
</ion-content>

<app-timer></app-timer>
<app-hiking-status-bar [pageName]="'home'"></app-hiking-status-bar>
