<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li *ngFor="let hiking of hikingList">
      <a [routerLink]="['/detail', hiking.id]" >{{hiking.title}}</a>
      <p>
          "address": {{hiking.address}},<br/>
          "description": {{hiking.description}},<br/>
          "difficultyRating": {{hiking.difficultyRating}},<br/>
          "duration": {{hiking.duration}},<br/>
          "lengthMeters": {{hiking.lengthMeters}},<br/>
          "steps": {{hiking.steps}},<br/>
          "idCreator": {{hiking.idCreator}}
      </p>
    </li>
  </ul>
</ion-content>
